.nav-bar{
    background-color: #4a8bdf;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}

.nav-bar a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #effafd;
}

/* GD icon */

.GD-icon{
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    width: 50%;
    font-weight: bold;
}

/* nav-bar main content*/

.main-nav{
    display: none;
    padding: 0.5rem;
    width: 100%;
}

.main-nav.active{
    display: flex;
}

.main-nav ul{
    width : 100%;
    justify-content: end;
}

.main-nav ul li{
    margin: 0.6rem;  
}

.main-nav a{
    transition: 0.3s;
}

.nav-bar a:hover{
    color: #000000;
}


/* Burger icon */

.burger-icon{
    width: min-content;
    height: min-content;
    padding: 4px;
    margin-left: 1rem;
}

.burger{
    width: 42px;
    height: 38px;
    cursor: pointer;
    position: relative;
}

.burger span{
    width: 100%;
    height: 4px;
    background-color: #effafd;
    display: block;
    position: absolute;
    top: 45%;
    transform: -50%;
    transition: background-color 0.1s ease-in-out;
}

.burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #effafd;
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px);
}

.burger span::after{
    transform: translateY(10px);
}

.burger.active span{
    background-color: transparent;
}
.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
    width: 80%;
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
    width: 80%;
}

@media (min-width: 768px){
    .GD-icon{
        width: min-content;
    }

    .main-nav{
        display: flex;
        width: 90%;
        padding-left: 0;
    }
    
    .main-nav ul {
        display: flex;
    }
    
    .burger-icon{
        display: none;
    }
}