html,
body{
    overflow-x: hidden;
}

body {
    background-color: #effafd;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.item-title {
    border: 3px solid black;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.item-text {
    max-width: 90%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 1rem;
}

.item-text h3,
.item-text h4 {
    margin-bottom: 0.5rem;
}

h1,h2,h3,h4,h5,p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    text-align: center;
}

p,
h5 {
    font-size: 1.2rem;
}

p {
    line-height: 1.5rem;
    color: rgb(110, 110, 110);
}

/* Homepage */

#home {
    height: 100vh;
}

.background{
    z-index: 19;
    background-color: #4a8bdf ;
    height: 100%;
    width: 100%;
    position: relative;
}

#home-content {
    z-index: 20;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

#home-text {
    width : 315px;
    height : 270px;
    border: 3px solid #effafd;
    border-radius: 25px;
    display: block;
    align-content: flex-start;
    color: #effafd;
}

#home-text h1 {
    margin: 2rem 0.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #effafd;
    display: inline-block;
    position: relative;    
}

#down-arrow {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    align-self:center; 
    translate: 0 4rem; 
    background-color: #4a8bdf;
    transition: 0.2s ease-in-out;
}

#down-arrow:hover{
    background-color: #effafd;
    transform: scale(1.1);
}

#down-arrow img {
    max-width: 100%;
    max-height: 100%;
}

    /* typewriter effect */
  
    h1 span {
        animation: cursor 1s infinite;
    }
    
    @keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    } 

/* About me */

#me {
    min-height: 100vh;
}

#me-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#profil-picture {
    border: 3px solid black;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    min-height: 11rem;
    min-height: 11rem;
}

#text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

#text-content h2 {
   border-bottom: 2px solid black;
   padding-bottom: 1rem;
   margin-bottom: 3rem;
}

#text-content p {
    padding: 1rem;
    width: 100%;
}

/* Educational background */

#education {
    padding-left: 1rem;
    padding-right: 1rem;
}

#education-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#education-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#education-content-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Experiences */

#experience {
    padding-left: 1rem;
    padding-right: 1rem;
}

#experience-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#experience-content-title {
    width: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

#experience-content-title h2 {
    width: max-content;
    text-align: center;    
}

#experience-content-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Skills */

#skill-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.skill-block {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.skill-element {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
    display: block;
}

.skill-element-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skill-element-title h2 {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid black;
    width: min-content;
}


.skill-element-list {
    width: fit-content;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 1.3rem;
}


.skill-element-list-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 100%;
}

.skill-element-list-frame li {
    color: #effafd;
    background-color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.skill-element-list-bullet {
    display: list-item;
    justify-content: left;
    max-width: 100%;
}

.skill-element-list-bullet li {
    padding: 0.5rem;

}

/* Projects */

#project-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#project-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: block;
}

#project-content-title h2 {
    text-align: center;
    width: min-content;
}

#project-content-list {
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

#project-content-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

#project-content-list li {
    border: 3px solid black;
    width: 230px;
    height: 230px;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: #effafd;
    transition: height 0.5s;
}

.image-box img {
    width: 100%;
    height: 100%;    
}

.project-summary {
    width: 200px;
    height: min-content;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    background: linear-gradient(180deg, #00000080, black);
    padding: 15px;
}

.project-summary h4 {
    font-weight: bold;
}

.project-summary p, 
.project-summary button {
    display: none;
    color: #effafd;
}

.project-summary p {
    padding: 15px;
} 

.project-summary button {
    padding: 5px 15px;
    align-self: center;
    background-color: transparent;
    border: 1px solid #effafd;
    font-weight: bold;
}
.project-summary button:hover {
    background-color: #effafd;
    color: black
}

.image-box:hover .project-summary {
    height: 200px;
    background: linear-gradient(180deg, #86868680, black);
}

.image-box:hover p,
.image-box:hover button {
    display: flex;
}



/* Hobbies */

#hobby {
    /* background-color: rgb(226, 43, 43); */
}

/* Contacts */

#contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

#contact-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: block;
}

#contact-content-title h2 {
    text-align: center;
    width: min-content;
}

#contact-content-list {
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

#contact-content-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-content-list ul li {
    width: 52px;
    height: 52px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 90%;
    box-shadow: 1px 1px 1px rgb(110, 110, 110);
}

#contact-content-list ul li:hover {
    box-shadow: none;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

/* highlighting a part of the website */

.promote {
    border: 3px solid #a0006d;
}

.skill-promote li {
    background-color: #a0006d;
    border: 2px solid #a0006d; 
}

/* responsive */
@media (min-width: 768px) {

    #me,
    #education,
    #experience,
    #skill,
    #project,
    #contact {
        padding : 2rem 4rem;
    }

    #home-text h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-weight: bold;
    }

    #home-text {
        width: 600px;
        height : 300px;
    }

    #home-text h1 {
        margin: 2.5rem 5rem;
    }
    
    #me {
        height: 100vh;
    }
    
    .project-content-list li {
        margin-right: 1rem;
    }
    
    .item {
        flex-direction: row;
        justify-content: center;
    }

    .item-title {
        width: 25%;
        margin-right: 1rem;
        margin-bottom: 0px;
    }
    
    .item-text {
        width: 70%;
    }

    #experience-content-title {
        width: fit-content;
    }

    #skill-content {
        flex-direction: row;
        align-items:start;
        padding: 0rem 2rem;
        margin-top: 0;
    }

    .skill-element {
        margin-top: 4rem;
    }

    .skill-element-list {
        padding-left: 3rem;
        padding-right: 2rem;
    }
}