.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.item-title {
    border: 3px solid black;
    border-radius: 70px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    min-width: 128px;
    min-height: 128px;
    max-width: 128px;
    max-height: 128px;
}

.item-text {
    min-width: 350px;
    max-width: 90%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 1rem;
}

.item-text h3,
.item-text h4 {
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    text-align: center;
}

p,
h5 {
    font-size: 1.2rem;
}

p {
    line-height: 1.5rem;
}

/* Homepage */

#home {
    height: 100vh;
    /* background-color: aqua ; */
}

#home-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home-text {
    min-width: 320px;
    border: 1px solid black;
    text-align: center;
    padding: 2.5rem 0.5rem 3rem 0.5rem;
}

#home-text h1 {
    margin-bottom: 1rem;
}

#down-arrow {
    height: 30px;
    width: 30px;
    align-self:center; 
    translate: 0 4rem;  
}

#down-arrow img {
    max-width: 100%;
    max-height: 100%;
}

/* About me */

#me {
    min-height: 100vh;
    /* background-color: rgb(214, 226, 43); */
}

#me-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#profil-picture {
    border: 1px solid black;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    min-height: 11rem;
    min-height: 11rem;
}

#text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

#text-content h2 {
   border-bottom: 2px solid black;
   padding-bottom: 1rem;
   margin-bottom: 3rem;
}

#text-content p {
    padding: 1rem;
}

/* Educational background */

#education {
    /* background-color: blueviolet; */
}

#education-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#education-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#education-content-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Experiences */

#experience {
    /* background-color: rgb(43, 226, 113); */
}

#experience-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#experience-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: block;
}

#experience-content-title h2 {
    text-align: center;
    width: 335px;
}


#experience-content-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Skills */

#skill {
    /* background-color: rgb(226, 125, 43); */
}

#skill-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.skill-block {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skill-element {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skill-element-title {
    width: min-content;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: block;
}

.skill-element-title h2 {
    text-align: center;
    width: min-content;
}


.skill-element-list {
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
}


.skill-element-list-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 100%;
}

.skill-element-list-frame li {
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.skill-element-list-bullet {
    display: list-item;
    justify-content: left;
    max-width: 100%;
    list-style-type: disc;
}

.skill-element-list-bullet li {
    padding: 0.5rem;
    /* margin-bottom: 1rem; */

}

/* Projects */

#project {
    /* background-color: rgb(70, 43, 226); */
}

#project-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

#project-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: block;
}

#project-content-title h2 {
    text-align: center;
    width: min-content;
}

#project-content-list {
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.project-element-list-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.project-element-list-picture li {
    border: 1px solid black;
    width: 230px;
    height: 230px;
    border-radius: 30px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-element-list-picture li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-align: center;
}

/* Hobbies */

#hobby {
    /* background-color: rgb(226, 43, 43); */
}

/* Contacts */

#contact {
    /* background-color: rgb(43, 226, 73); */
}

#contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

#contact-content-title {
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: block;
}

#contact-content-title h2 {
    text-align: center;
    width: min-content;
}

#contact-content-list {
    width: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

#contact-content-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-content-list ul li {
    width: 52px;
    height: 52px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

/* footer */

footer p {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    h2 {
        font-weight: bold;
    }

    #home-text {
        padding: 5rem 3rem 6rem 3rem;
    }
    

    #me {
        height: 100vh;
    }
    
    .project-element-list-picture li {
        margin-right: 1rem;
    }
    
    .item {
        flex-direction: row;
        justify-content: center;
    }

    .item-title {
        width: 25%;
        margin-right: 1rem;
        margin-bottom: 0px;
    }
    
    .item-text {
        width: 70%;
    }

    #experience-content-title h2 {
        width: fit-content;
    }

    #skill-content {
      flex-direction: row;
      align-items:start;
      padding: 2rem;
    }
}